/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
*{
    font-family: 'Fredoka', sans-serif;;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

/* section .header */
#title{
    color: #E42D6E;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 30px;
}

#lorem{
    text-align: center;
    padding-bottom: 30px;
    font-size: 15px;
}



/* section blocks */
.blocks::after{
    content: "";
    display: table;
    clear: both;
}

.block{
    background-color: black;
    width: calc(100% / 3 - 20px);
    margin-bottom: 40px;
}

.block:nth-of-type(1n){
    float: left ;
}

.block:nth-of-type(3n){
    float:right
}

.block:after{
    content: "";
    display: table;
    clear: both;
}

#center{
    margin-left: 30px;
    margin-right: 30px;
}



/* single block */
.photo{
    float: left;
    height: 80px;
}

.info{
    color: white;
    height: 80px;
    padding-top: 10px;
    margin-left: 95px;
}

.role{
    margin-bottom: 7px;
    margin-top: 7px;
}

.email{
    color: #5BB3C6;
}
