/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
*{
    font-family: 'Fredoka', sans-serif;;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

/* section .header */
#title{
    color: #E42D6E;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#lorem{
    text-align: center;
    padding-bottom: 30px;
}


/* section blocks */
.blocks::after{
    content: "";
    display: table;
    clear: both;
}

.block{
    background-color: black;
    float: left;
    width: calc(100% / 3);
}

.block:after{
    content: "";
    display: table;
    clear: both;
}


.photo{
    float: left;
    height: 70px;
}

.info{
    color: white;
}

/* debug */
.container{
    background-color: aquamarine;
}